@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --accent-color: #204051;
  --background-color: #eeeeee;
  --font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color);
}

div.top {
  margin: 0;
  background-color: #204051;
}

#userPhoto {
  display: block;
  width: 96px;
  height: 96px;
  margin: 35px auto;
  border-style: solid;
  border-radius: 25%;
}

#userName {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  color: #bbb;
  text-align: center;
  text-decoration: none;
}

#links {
  display: block;
  width: 100%;
  max-width: 675px;
  margin: 27px auto;
}

h1 {
  font-family: var(--font-family);
  color: var(--accent-color);
  text-align: center;
}

#description {
  font-family: var(--font-family);
  text-align: center;
}

#social-media {
  margin: auto;
}

.link {
  display: block;
  margin-bottom: 20px;
  padding: 17px;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--background-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color);
  border-radius: 25px;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.link:hover {
  color: #ffffff;
  background-color: #3b6978;
}
