<!doctype html>
<html lang="{{ page.language }}">
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">
        {% if page.language == "en" -%}
          <a class="site-title" href="{{ site.baseurl }}/{{ page.language }}/">{{ site.title }}</a>
        {% else -%}
          <span class="site-title">{{ site.title }}</span>
        {% endif -%}
      </div>
    </header>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
