<!doctype html>
<html lang="{{ page.language | default: 'en' | escape }}">
  {% include head.html
    title=site.title
    document_title=site.title
    description=site.description
    canonical_path="/en/"
    stylesheet="/css/site.css"
    x_default_path="/"
  %}
  <body>
    <h1>{{ site.display_title | default: site.title | escape }}</h1>
    <a href="/en/" class="hero-link">
      <img src="/img/lichens.gif" alt="Lichen illustration on a stone" class="hero">
    </a>
    {% include site-nav.html class="links" label="Links" %}
  </body>
</html>
