---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | replace: ': ', ':<br>' }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {% if page.photo %}
      <img src="{{ page.photo }}" style="float: right; border: 1px solid #000; margin-left: 1em">
    {% endif %}
    {{ content }}
  </article>
</div>
